* {
  box-sizing: border-box;
}
:root {
  font-size: 20px;
  font-family: "Newsreader", serif;
  line-height: 1.25;
  --a: #f8f8f8;
  --b: #dfdedd;
  --c: #ccc1b6;
  --d: #817675;
  --e: #615958;
  --f: #423e3d;
  --g: #302c2c;
  --h: #0c0b0b;
  --i: #000000;
  --curve: cubic-bezier(0.54, 0.11, 0.46, 1.19);
}
body {
  margin: 0;
  background: linear-gradient(
    to bottom,
    var(--a),
    var(--b),
    var(--c),
    var(--d),
    var(--e),
    var(--f),
    var(--g),
    var(--h),
    var(--i)
  );
}
a {
  color: aquamarine;
  transition: color 250ms ease-in;
}
a:hover,
a:focus {
  color: orangered;
}
#👋 a,
#🥰 a,
blockquote a {
  color: darkcyan;
  transition: color 250ms ease-in;
}
#👋 a:hover,
#🥰 a:hover,
blockquote a:hover {
  color: orangered;
}
nav {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
}
nav a {
  font-size: 1.5rem;
  margin: 0.5rem;
  border: 1px solid transparent;
  padding: 0.75rem 0.5rem 0;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px black, inset 1px 1px 2px whitesmoke;
}
code {
  font-size: small;
}
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 1rem;
}
section > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
section:nth-child(n + 6) {
  color: var(--a);
}
section > :first-child:not(.center) {
  margin-top: 0;
}

section > :last-child:not(.center) {
  margin-bottom: 0;
}
.center {
  margin-top: auto;
  margin-bottom: auto;
}

blockquote {
  background-color: var(--a);
  color: var(--h);
  padding: 0.5em;
}
blockquote cite {
  padding-top: 0.5em;
  font-size: 0.8em;
}

nav a {
  animation: 1s var(--curve) 50ms fade-slide-down;
}
nav a:nth-child(2) {
  animation: 1s var(--curve) 75ms fade-slide-down;
}
nav a:nth-child(3) {
  animation: 1s var(--curve) 125ms fade-slide-down;
}
nav a:nth-child(4) {
  animation: 1s var(--curve) 175ms fade-slide-down;
}
nav a:nth-child(5) {
  animation: 1s var(--curve) 225ms fade-slide-down;
}
nav a:nth-child(6) {
  animation: 1s var(--curve) 275ms fade-slide-down;
}
nav a:nth-child(7) {
  animation: 1s var(--curve) 325ms fade-slide-down;
}
nav a:nth-child(8) {
  animation: 1s var(--curve) 375ms fade-slide-down;
}
nav a:nth-child(9) {
  animation: 1s var(--curve) 425ms fade-slide-down;
}
nav a:nth-child(10) {
  animation: 1s var(--curve) 475ms fade-slide-down;
}

@keyframes fade-slide-down {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  50% {
    transform: translateY(5rem);
    opacity: 0.25;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
